<style type="text/css">
        *{margin:0; padding:0;}
        .container {margin:auto; width: 400px}
        header {background-color: rgb(251, 127, 80); text-align: center}
        article {background-color: #11e5a5; text-align: center; padding: 20px 0;}
    </style>